<link rel="stylesheet" href="/css/home.css" />
<form action="/" method="GET">
  <select name="mood" id="mood">
    <option value="angry">angry</option>
    <option value="happy">happy</option>
    <option value="suprise">suprise</option>
    <option value="sad">sad</option>
  </select>
  <button type="submit" id="sub">Submit</button>
</form>
<div id="response">
  <div id="playlist"></div>
  <div id="do"></div>
</div>

<script src="/js/home.js"></script>
